
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color:black !important;
}

.brand-logo ,h2{
    font-family: 'Grand Hotel', cursive;
    padding-left: 10px;
}
.brand-logo{
  padding-left: 10px !important;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;

}

.mycard{
    margin-top: 30px;
}

#toast-container{
    top:50px;
    right:20px;
    left:auto;
}


/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(28, 25, 207) !important;
    box-shadow: 0 1px 0 0 rgb(66, 11, 218) !important;
  }

  .profile_Img{
    width:160px;
    height:160px;
    border-radius:80px;
  }
  .profile_info{
      display: flex;
      justify-content: space-around;
      margin: 18px 0px;
      border-bottom: 1px solid grey;
  }
  .follower_info{
    display: flex;
    justify-content: space-between;
    width: 113%;
}

.gallery{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
}
  
.item{
    width: 30%;
    margin: 7px;
}
.profile_par{
 max-width: 550px;
 margin: 0px auto;
}

.home-card{
    max-width: 550px;
    height: max-content;
    margin: 26px auto;
    /* margin: 26px auto; */
}

.create-card{
    margin: 30px auto;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

  .collection-item{
    width: 100%;
  }
  
  
  #toast-container{
    top:30px !important;
    right: 20px !important;
    left: auto !important;
  }
  
  
  .material-icons:hover{
    cursor: pointer;
  }